/* importing font */
@import "Vazirmatn-RD-FD-font-face.css";

/* body style */
body {
    padding: 0;
    margin: 0;
    font-family: Vazirmatn RD FD, sans-serif;
    font-size: 15px
}

/* custom back colors */
.bg1{
    background-color: #29166F;
}
.y-g-bg{
    border-radius: 30px;
    padding: 20px;
    background: rgba(255,179,0,0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,179,0,0.15);
}
.b-g-bg{
    border-radius: 30px;
    padding: 20px;
    background: rgba(41,22,111,0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(41,22,111,0.15);
}
.blue-gradient{
    border-radius: 30px;
    padding: 20px;
    background: #0093dd;
    background: -webkit-radial-gradient(circle, #0093dd 0%, #29166f 100%);
    background: radial-gradient(circle, #0093dd 0%, #29166f 100%);
}
/* img style */
img {
    max-width: 100%
}

/* d-table style */
.d-table {
    width: 100%;
    height: 100%
}
.d-table-cell {
    vertical-align: middle
}

/* a style */
a {
    color: #E77919;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
    outline: 0!important
}
a:hover {
    color: #29166F;
    text-decoration: none
}


/* button style */
button {
    outline: 0!important
}

/* padding top & bottom style */
.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px
}

/* bg color style */
.bg-f7fafd {
    background-color: #f7fafd
}
.bg-f6f4f8 {
    background-color: #f6f4f8
}

/* title & paragraph style */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Vazirmatn RD FD, sans-serif
}
p {
    text-align: justify !important;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #0093dd;
    font-weight: 300;
    font-size: 15px
}
p:last-child {
    margin-bottom: 0
}

/* go top button style */
.go-top {
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    top: 50%;
    right: 15px;
    background: -webkit-gradient(linear, left top, right top, from(#29166f), to(#0093dd));
    background: linear-gradient(90deg, #29166f 0%, #0093dd 100%);
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .9s;
    transition: .9s;
    color: #fff
}
.go-top.active {
    top: 98%;
    -webkit-transform: translateY(-98%);
    transform: translateY(-98%);
    opacity: 1;
    visibility: visible
}
.go-top::before {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg,#0093dd 0%,  #29166f 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s
}
.go-top:hover, .go-top:focus {
    color: #fff
}
.go-top:hover::before, .go-top:focus::before {
    opacity: 1;
    visibility: visible
}
/* btn style */
.btn {
    font-weight: 700;
    border: none;
    padding: 14.5px 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: initial;
    border-radius: 4px;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    z-index: 1
}
.btn.disabled, .btn:disabled {
    opacity: 1
}
.btn-primary {
    background-color: transparent;
    color: #fff
}
.btn-primary::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#29166f), to(#0093dd));
    background: linear-gradient(90deg, #29166f 0%, #0093dd 100%);
    border-radius: 4px;
    -webkit-transition: .5s;
    transition: .5s
}
.btn-primary::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#0093dd), to(#29166F));
    background: linear-gradient(90deg, #0093dd 0%, #29166F 100%);	border-radius: 4px;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    visibility: hidden
}
.btn-primary:hover, .btn-primary:focus {
    background-color: transparent!important;
    color: #fff!important;
    -webkit-box-shadow: unset!important;
    box-shadow: unset!important
}
.btn-primary:hover::before, .btn-primary:focus::before {
    opacity: 0;
    visibility: hidden
}
.btn-primary:hover::after, .btn-primary:focus::after {
    opacity: 1;
    visibility: visible
}


/* section title style */
.section-title {
    text-align: center;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: -9px
}
.section-title h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600
}
.section-title .bar {
    height: 5px;
    width: 90px;
    background: #cdf1d8;
    margin: 15px auto 20px;
    position: relative;
    border-radius: 30px
}
.section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.6px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #0093dd;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG
}
.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0
}

/* form control style */
.form-control {
    height: 50px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 50px;
    color: #E77919;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0;
    -webkit-transition: .5s;
    transition: .5s
}
.form-control:focus {
    -webkit-box-shadow: unset!important;
    box-shadow: unset!important;
    border-color: #29166F
}

/* loader style */
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: -webkit-gradient(linear, left top, right top, from(#29166f), to(#0093dd));
    background: linear-gradient(90deg, #29166f 0%, #0093dd 100%);
    top: 0;
    left: 0
}
.preloader .loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-43%);
    transform: translateY(-43%);
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px
}
.preloader .box {
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-animation: animate .5s linear infinite;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px
}
.preloader .shadow {
    width: 100%;
    height: 5px;
    background: #000;
    opacity: .1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    -webkit-animation: shadow .5s linear infinite;
    animation: shadow .5s linear infinite
}
@-webkit-keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%
    }
}
@keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%
    }
}
@-webkit-keyframes animate {
    17% {
        border-bottom-right-radius: 3px
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg)
    }
    50% {
        -webkit-transform: translateY(18px) scale(1, .9) rotate(45deg);
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg)
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg)
    }
}
@keyframes animate {
    17% {
        border-bottom-right-radius: 3px
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg)
    }
    50% {
        -webkit-transform: translateY(18px) scale(1, .9) rotate(45deg);
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg)
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg)
    }
}
@-webkit-keyframes shadow {
    50% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1)
    }
}
@keyframes shadow {
    50% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1)
    }
}

/* navbar style */
.Makoos-responsive-nav {
    display: none
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0
}
.navbar-brand img {
    -webkit-transition: .5s;
    transition: .5s
}
.Makoos-nav {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0
}
.Makoos-nav .navbar {
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0
}
.Makoos-nav .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0
}
.Makoos-nav .navbar .navbar-nav {
    font-family: Vazirmatn RD FD, sans-serif;
    margin-left: auto
}
.Makoos-nav .navbar .navbar-nav {

    margin-right: 0 !important;
}
.Makoos-nav .navbar .navbar-nav .nav-item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0
}
.Makoos-nav .navbar .navbar-nav .nav-item a {
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px
}
.Makoos-nav .navbar .navbar-nav .nav-item a:hover, .Makoos-nav .navbar .navbar-nav .nav-item a:focus, .Makoos-nav .navbar .navbar-nav .nav-item a.active {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item a i {
    font-size: 10px;
    margin-left: 1px
}
.Makoos-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-right: 0
}
.Makoos-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 0
}
.Makoos-nav .navbar .navbar-nav .nav-item:hover a, .Makoos-nav .navbar .navbar-nav .nav-item.active a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    background: #fff;
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 250px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    text-transform: capitalize;
    padding: 8px 15px;
    margin: 0;
    color: #E77919;
    font-size: 15.5px;
    font-weight: 500
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 220px;
    top: 0;
    opacity: 0;
    visibility: hidden
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -250px;
    top: 0;
    opacity: 0;
    visibility: hidden
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #29166F
}
.Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}
.Makoos-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%
}
.Makoos-nav .navbar .others-options {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.Makoos-nav .navbar .others-options .login-btn {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    font-family: Vazirmatn RD FD, sans-serif
}
.Makoos-nav .navbar .others-options .login-btn i {
    margin-right: 2px;
    color: #E77919
}
.Makoos-nav .navbar .others-options .login-btn:hover {
    color: #E77919
}
.navbar-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: transparent;
    -webkit-transition: .5s;
    transition: .5s;
    padding-top: 20px;
    padding-bottom: 20px
}
.navbar-area.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    background-color: #fff!important;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 500px !important;
}
.navbar-area.is-sticky .Makoos-nav {
    background-color: #fff;
    border-radius: 500px !important;

}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item:hover a, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .others-options .login-btn {
    color: #E77919
}
.navbar-area.is-sticky .Makoos-nav .navbar .others-options .login-btn i {
    color: #29166F
}
.navbar-area.is-sticky .Makoos-nav .navbar .others-options .login-btn:hover {
    color: #29166F
}
.navbar-area.navbar-style-two .navbar-brand img {
    display: block!important
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item:hover a, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #29166F
}
.navbar-area.navbar-style-two .Makoos-nav .others-options .login-btn {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .others-options .login-btn i {
    color: #E77919
}
.navbar-area.navbar-style-two .Makoos-nav .others-options .login-btn:hover {
    color: #29166F
}
@media only screen and (max-width:991px) {
    .Makoos-responsive-nav {
        display: block
    }
    .Makoos-responsive-nav .Makoos-responsive-menu {
        position: relative
    }
    .Makoos-responsive-nav .Makoos-responsive-menu.mean-container .mean-nav ul {
        font-size: 14px
    }
    .Makoos-responsive-nav .Makoos-responsive-menu.mean-container .mean-nav ul li a.active {
        color: #29166F
    }
    .Makoos-responsive-nav .Makoos-responsive-menu.mean-container .mean-nav ul li li a {
        font-size: 13.5px
    }
    .Makoos-responsive-nav .Makoos-responsive-menu.mean-container .navbar-nav {
        overflow-y: scroll;
        height: 350px;
        -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1)
    }
    .Makoos-responsive-nav .mean-container a.meanmenu-reveal {
        color: #fff
    }
    .Makoos-responsive-nav .mean-container a.meanmenu-reveal span {
        background: #fff
    }
    @media only screen and (max-width:767px) {
        .Makoos-responsive-nav .logo{
            position: relative;
            width: 45px !important;
            height: 40px !important;
            z-index: 999;
            padding-right: 10px;
        }
    }
    .Makoos-responsive-nav .logo a img:nth-child(2) {
        display: none
    }
    .Makoos-responsive-nav .others-options {
        position: absolute;
        right: 52px;
        top: 3px
    }
    .Makoos-responsive-nav .others-options .login-btn {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        font-family: Vazirmatn RD FD, sans-serif
    }
    .Makoos-responsive-nav .others-options .login-btn i {
        margin-right: 2px;
        color: #E77919 ;
    }
    .Makoos-responsive-nav .others-options .login-btn:hover {
        color: #29166F
    }
    .navbar-area {
        border-bottom: 1px solid rgba(255, 255, 255, .09);
        padding-top: 15px;
        padding-bottom: 15px
    }
    .navbar-area.is-sticky {
        border-bottom: none;
        -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1)
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .mean-container a.meanmenu-reveal {
        color: #E77919
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .mean-container a.meanmenu-reveal span {
        background: #E77919
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .logo a img:nth-child(1) {
        display: none
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .logo a img:nth-child(2) {
        display: block
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .others-options .login-btn {
        color: #E77919
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .others-options .login-btn i {
        color: #29166F
    }
    .navbar-area.is-sticky .Makoos-responsive-nav .others-options .login-btn:hover {
        color: #29166F
    }
    .navbar-area.navbar-style-two .Makoos-responsive-nav .mean-container a.meanmenu-reveal {
        color: #E77919
    }
    .navbar-area.navbar-style-two .Makoos-responsive-nav .mean-container a.meanmenu-reveal span {
        background: #E77919
    }
    .navbar-area.navbar-style-two .Makoos-responsive-nav .logo a img {
        display: inline-block!important
    }
    .navbar-area.navbar-style-two .Makoos-responsive-nav .others-options .login-btn {
        color: #E77919
    }
    .navbar-area.navbar-style-two .Makoos-responsive-nav .others-options .login-btn i {
        color: #29166F
    }
    .navbar-area.navbar-style-two .Makoos-responsive-nav .others-options .login-btn:hover {
        color: #29166F
    }
    .Makoos-nav {
        display: none
    }
}

/* main banner ( home section 1 ) style */
.main-banner {
    height: 100vh;
    background-image: url(../../assets/img/main-banner-bimeh2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
.main-banner-content {
    margin-top: -20px;
    max-width: 600px
}
.main-banner-content h1 {
    margin-bottom: 0;
    color: #fff;
    font-size: 52px;
    font-weight: 700
}
.main-banner-content p {
    color: #fff;
    font-family: Vazirmatn RD FD, sans-serif;
    font-size: 18px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 0
}
.main-banner-content .btn {
    margin-top: 30px
}
.main-banner-section {
    height: 800px;
    background-image: url(../../assets/img/main-banner2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

/* featured boxes ( home section 2 ) style */
.featured-boxes-area {
    position: relative;
    z-index: 1;
    margin-top: -100px
}
.featured-boxes-inner {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    border-radius: 30px !important;
}
.featured-boxes-inner .col-lg-3:last-child {
    border-right: none
}
.single-featured-box {
    text-align: center;
    position: relative;
    padding: 115px 25px 40px;
    overflow: hidden
}
.single-featured-box .icon {
    -webkit-transition: .4s;
    transition: .4s;
    color: #29166F;
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: -12px;
}
.single-featured-box .icon img{
    width: 60% !important;
}
.single-featured-box .icon i::before {
    font-size: 55px
}
.single-featured-box h3 {
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600
}
.single-featured-box p {
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 0
}
.single-featured-box .read-more-btn {
    background: -webkit-gradient(linear, left top, right top, from(#29166f), to(#0093dd));
    background: linear-gradient(90deg, #29166f 0%, #0093dd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .6;
    transition: .6;
    font-size: 15px;
    font-weight: 400
}
.single-featured-box .read-more-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    -webkit-transition: .5s;
    transition: .5s;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(#29166f), to(#0093dd));
    background: linear-gradient(90deg, #29166f 0%, #0093dd 100%);
}
.single-featured-box .read-more-btn:hover::before {
    width: 100%
}
.single-featured-box:hover .icon {
    top: 23px;
    -webkit-animation: iconTop .4s ease-in-out;
    animation: iconTop .4s ease-in-out
}
.single-featured-box:hover h3 {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
}
.single-featured-box:hover p {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
}
.single-featured-box:hover .read-more-btn {
    opacity: 1;
    visibility: visible;
    bottom: 23px
}
@-webkit-keyframes iconTop {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
    25% {
        opacity: 0;
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}
@keyframes iconTop {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
    25% {
        opacity: 0;
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

/*  articles area  ( home section 3 ) style */
.article-area .card img{
    border-radius: 20px;
}
.article-area .card .card-body h5{
    color: #E77919;
    text-decoration: none;
}
.article-area .card .card-body p{
    color: #fff;
}
.article-area .card .card-footer{
    padding: .5rem 1rem !important;
    border-top: 1px solid rgba(20, 17, 17, 0.21) !important;
    background-color: rgba(0, 0, 0, 0);
}

/* insurance boxes area ( home section 4 ) style */
.insurance-boxes-area .container .insurance-boxes-inner .row {
    text-align: center;
}
.insurance-boxes-area .container .insurance-boxes-inner .row .insurance-photo {
    /*width: 50% !important;*/
    padding: 20px;
}
.insurance-boxes-area .container .insurance-boxes-inner .row .insurance-title {
    background-color: #fff;
    border-radius: 30px !important;
    align-self: center !important;
}
.insurance-boxes-area .container .insurance-boxes-inner .row .insurance-title h3{
    color: #E77919 !important;

}


/* account create area ( footer 1 ) style */
.account-create-area {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#29166f), to(#0093dd));
    background: linear-gradient(90deg, #29166f 0%, #0093dd 100%);
    padding-top: 100px;
    padding-bottom: 100px
}
.account-create-area::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    height: 100%;
    z-index: -1;
    background-image: url(../../assets/img/bg_lines.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%
}
.account-create-content {
    text-align: center
}
.account-create-content h2 {
    color: #fff;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600
}
.account-create-content p {
    text-align: center !important;
    color: #fff;
    line-height: initial;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0
}
.account-create-content .btn-primary {
    margin-top: 30px;
    padding: 16px 30px
}
.account-create-content .btn-primary::before {
    background: linear-gradient(90deg, #0093dd 0%,  #29166f 100%);

}
.account-create-content .btn-primary::after {
    background: #fff
}
.account-create-content .btn-primary:hover, .account-create-content .btn-primary:focus {
    color: #E77919!important
}


/* account create area ( footer 2 ) style */
.footer-area {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    background-color: #f7fafd
}
.single-footer-widget {
    margin-bottom: 30px
}
.single-footer-widget .logo a {
    display: block
}
.single-footer-widget .logo p {
    font-size: 14.5px;
    margin-top: 20px;
    margin-bottom: 0
}
.single-footer-widget h3 {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 600
}
.single-footer-widget .list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none
}
.single-footer-widget .list li {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14.5px
}
.single-footer-widget .list li a {
    color: #0093dd;
    display: inline-block
}
.single-footer-widget .list li a:hover {
    padding-left: 5px;
    color: #29166F
}
.single-footer-widget .list li:last-child {
    margin-bottom: 0
}
.single-footer-widget .footer-contact-info {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none
}
.single-footer-widget .footer-contact-info li {
    position: relative;
    color: #0093dd;
    margin-bottom: 8px;
    line-height: 1.7;
    font-weight: 400;
    font-size: 14.5px
}
.single-footer-widget .footer-contact-info li a {
    color: #0093dd;
    display: inline-block
}
.single-footer-widget .footer-contact-info li a:hover {
    color: #29166F
}
.single-footer-widget .footer-contact-info li:last-child {
    margin-bottom: 0
}
.single-footer-widget .footer-contact-info li span {
    display: inline-block;
    font-weight: 500
}
.single-footer-widget .social-links {
    padding-left: 0;
    list-style-type: none;
    margin-top: 13px;
    margin-bottom: 0
}
.single-footer-widget .social-links li {
    margin-right: 2px;
    display: inline-block
}
.single-footer-widget .social-links li a {
    width: 30px;
    text-align: center;
    line-height: 29px;
    height: 30px;
    border: 1px solid #ece9e9;
    border-radius: 50%;
    color: #29166F;
    display: inline-block;
    font-size: 14px
}
.single-footer-widget .social-links li a:hover {
    color: #fff;
    border-color: #29166F;
    background-color: #29166F
}

/* ccount create area ( footer 3 ) style */
.copyright-area {
    border-top: 1px solid #d8ebfd;
    text-align: center;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px
}
.copyright-area p {
    text-align: center !important;
    font-size: 14.5px
}
.copyright-area p a {
    display: inline-block;
    color: #E77919;
    font-weight: 400
}
.copyright-area p a:hover {
    color: #29166F
}
.map-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    z-index: -1;
    opacity: .7
}
.map-image img {
    max-width: 40%
}
